<div class="container-fluid">
    <footer class="row ThemeBackground pt-4 pb-2">
        <div class="col">
            <p class="text-center">
                <NavLink href="" class="ThemeColor">
                    <span aria-hidden="true"></span> Home
                </NavLink>
            </p>
        </div>

        <div class="col">
            <p class="ThemeColor text-center">
                &copy; @DateTime.Now.Year MAK CS Portfolio
            </p>
        </div>
    </footer>
</div>
