
<h5 class="">Add Image</h5>
<p>@this.HttpImageUploaderService.Message</p>
<div class="form_group">
    <div class="custom_file">
        <InputFile OnChange="this.HandleSelected" accept="image/png, image/jpeg, image/gif" id="inputFile" class="file_input btn btn_primary btn_sm form_control" multiple />
    </div>
</div>

@if(ImgUrl != null)
{
    <div class="card">
        <div class="card_body">
            <p class="card-text">
                <img src="@ImgUrl" style="width:100px" />
            </p>
        </div>
    </div>
}

